<nav class="navbar navbar-expand-lg bg-primary navbar-dar px-4">
  <div class="container-fluid">
    <img
      src="../../assets/images/ebook-logo.png"
      alt="Logo"
      width="75"
      height="75"
      class="d-inline-block align-text-top"
    />
    <span class="navbar-brand text-white">Ebook Maker</span>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active text-white"
            aria-current="page"
            routerLink="/admin-home"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/author-verification"
            >Authors</a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle text-white"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Manage Books
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" routerLink="/book-verification"
                >Verify Books</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="/create-ebooks">Create Ebooks</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="btn-ul">
        <button type="button" class="btn btn-light"routerLink="/">Logout</button>
      </ul>
    </div>
  </div>
</nav>
